/bitrix
/logs
/upload
/urlrewrite.php
*.log
*.sql
*.txt
*.xml
*.dt
*.html
*.tar
*.gz
/web.config
/_delete
/desktop_app
*.tmp
.idea
.sass-cache
*.DS_Store
!phpunit.xml
!/local/**/*.txt
/local/vendor
!robots.txt